doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible' content='ie=edge')
		meta(name='description' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

		block head

		link(href="https://fonts.googleapis.com/css?family=Spectral:600,700,800|Caveat:400,700" rel="stylesheet")
		link(rel='manifest' href='site.webmanifest')
		link(rel='apple-touch-icon' href='assets/img/app-icon.png')
		link(rel='icon' href='assets/img/favicon-32.png' type='image/png' sizes='32x32')
		<!-- jss-insertion-point -->
	body
		<!--[if lte IE 9]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
		<![endif]-->

		block loader
			include ./view.loader.pug

		section#root(style="visibility:hidden; pointer-events: none;")

		block script
