@font-face {
	font-family: 'Geomanist';
	src: url('/font/geomanist-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('/font/geomanist-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('/font/geomanist-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geomanist';
	src: url('/font/geomanist-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'fontello';
	src: url('/font/fontello.woff?80111896') format('woff');
	font-weight: normal;
	font-style: normal;
}
